@tailwind base;
@tailwind components;
@tailwind utilities;

/* NAVIGATION START */

header {
  background-image: url('../img/at-hero-med.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 50%;
  top: 0;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

input#location {
  background-color: rgba(0, 0, 0, 0);
}

a:hover {
  color: #fff;
}

.recent-search-nav {
  color: #c2c2c2;
  font-size: 20px;
  margin-right: 50px;
  font-weight: 200;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.recent-search-nav:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 3px;
  left: 0%;
  position: absolute;
  background: rgb(184, 148, 73);
  transition: width 0.5s ease 0s, left 0.5s ease 0s;
  width: 0;
}
.recent-search-nav:hover:after {
  width: 100%;
  left: 0;
}

/* NAVIGATION END */

/* HERO SECTION START */

.hero {
  display: flex;
  flex-wrap: wrap;
  background-image: url('../img/at-hero-med.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  height: 84vh;
}

.hero-statement {
  margin-top: 15vh;
  padding-left: 300px;
}

.hero-statement h2 {
  font-size: 70px;
  color: white;
  line-height: 1.2em;
  letter-spacing: 2px;
}

#adventure {
  color: rgb(184, 148, 73);
}

.hero-statement p {
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  color: rgb(191, 191, 191);
}

.search-input {
  margin: auto;
  width: 75%;
}

::-webkit-calendar-picker-indicator {
  color: white;
}

.form-group {
  margin-bottom: 0 !important;
}

#city-input {
  background-color: hsla(36, 100%, 90%, 0.2);
  border: none;
  padding: 5px;
}

#city-input:focus {
  background-color: hsla(36, 100%, 90%, 0.2);
  outline: none;
}

::placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
}

::-ms-input-placeholder {
  color: white;
}

.cst-btn {
  /* padding: 15px; */
  background-color: hsla(36, 100%, 90%, 0.2);
  border: solid;
  color: white;
  border-color: rgba(237, 237, 237, 0.1);
  box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);
  border-width: 1px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.5s;
}

.cst-btn-lft {
  border-radius: 10px 0 0 10px;
  width: 100%;
  min-width: 200px;
}

.cst-btn-cntr {
  border-radius: 0;
  width: 100%;
  color: white;
}

.cst-btn-rgt {
  border-radius: 0 10px 10px 0;
  background-color: #b89449;
  width: 50%;
  font-weight: 500;
  font-size: 18px;
  color: #f0f0f0;
}

.date-input input {
  width: 100%;
  background: rgba(0, 0, 0, 0) !important;
  text-align: center;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  color: #f0f0f0 !important;
}

.form-control:focus {
  background-color: #ffffff00;
  color: white;
}

div#city input {
  color: #f0f0f0;
}

.cst-btn {
  padding: 0;
}

div#city,
div#city input,
.date-input input {
  height: 50px;
  padding: 0;
  justify-content: center;
  display: flex;
  width: 100%;
  text-align: center;
  color: #f0f0f0;
}

div#city input::placeholder {
  color: #f0f0f0;
  opacity: 1;
  font-size: 18px;
}

form.search-input.flex.justify-between {
  margin-top: 0;
}

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  background-color: #c7a250;
}

.cst-btn-rgt:hover {
  background-color: #c7a250;
  color: #fff;
  cursor: pointer;
}

/* HERO SECTION END */

/* RECENT SEARCHES START */

.recent-searches {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
}

#recent-searches h2 {
  margin: 50px 0;
  text-decoration: none;
}

.search-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: solid;
  background-color: #e8e8e8;
  border-color: rgb(237, 237, 237);
  box-shadow: 0 1px 10px rgb(0 0 0 / 0.1);
  border-width: 1px;
  border-radius: 10px;
  padding: 3px;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 20px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  max-width: 300px;
  min-width: 200px;
  min-height: 100px;
}

.search-item h4 {
  font-size: 20px;
  color: rgb(123, 123, 123);
  text-transform: capitalize;
}
.search-item p {
  color: #b89449;
  font-size: 16px;
}

.search-item:hover {
  background-color: #f0f0f0;
  color: #1892de;
  cursor: pointer;
}

/* RECENT SEARCHES END */

/* FOOTER SECTION START */
.main-footer h5 {
  padding: 20px 0;
  background: rgba(205, 205, 205);
  color: #b89449;
  text-align: center;
  font-weight: 300;
  bottom: 0;
  width: 100%;
}

/* MEDIA QUERIES START */
@media screen and (max-width: 1560px) {
  .cst-btn-rgt {
    width: 100%;
    min-width: 200px;
  }

  header,
  .hero {
    background-position: 50%;
    height: 84vh;
    margin-bottom: 200px;
  }
}

@media screen and (max-width: 960px) {
  .hero {
    justify-content: center;
  }
  .hero-statement {
    text-align: center;
    padding: 0;
  }

  #recent-searches h2 {
    margin: 250px 10px 0px;
  }

  .hero {
    height: 90vh;
  }
}

@media screen and (max-width: 800px) {
  .cst-btn,
  .cst-btn-cntr,
  .cst-btn-rgt,
  .cst-btn-lft,
  .recent-searches {
    border-radius: 15px;
  }

  .hero form {
    flex-wrap: wrap;
  }

  input#location {
    text-align: center;
  }

  button#search {
    padding: 15px;
  }
}

@media screen and (max-width: 560px) {
  .recent-search-nav {
    display: none;
  }
  .hero-statement h2 {
    font-size: 55px;
    margin: 30px 0;
  }

  .hero form {
    flex-wrap: wrap;
  }

  #recent-searches h2 {
    margin: 80px 10px 0px;
  }

  header,
  .hero {
    margin-bottom: 100px;
  }

  .cst-btn,
  .cst-btn-cntr,
  .cst-btn-rgt,
  .cst-btn-lft,
  .recent-searches {
    border-radius: 15px;
  }
  div#city,
  div#city input,
  .date-input input,
  input#location {
    height: 50px;
    padding: 0;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .cst-btn {
    padding: 0;
  }

  .cst-btn-rgt {
    padding: 15px;
  }
  .hero-statement {
    margin-top: 0vh;
  }

  header,
  .hero {
    background-position: 50% -100px;
    height: 100vh;
    background-position-y: top;
    background-size: cover;
  }

  nav {
    justify-content: center;
  }
  nav img {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .recent-search-nav {
    display: none;
  }
  .hero-statement h2 {
    font-size: 55px;
    margin: 30px 0;
  }

  header {
    background-image: url('../img/at-hero-2-mobile.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 50%;
    top: 0;
    z-index: 9999;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
    background-image: url('../img/at-hero-2-mobile.jpeg');
    background-size: cover;
    background-attachment: center;
    height: 50vh;
  }

  .rd-container.rd-container-attachment {
    left: 0px !important;
    top: 260px !important;
  }

  nav {
    justify-content: center;
  }

  .cst-btn-lft {
    padding: 0;
  }
}
